<div class="tabla_datos">
    <h2>Colaboradores</h2>
    <table>
        <thead>
            <tr>
                <th>Nómina</th>
                <th>Nombre Completo</th>
                <th>Area</th>
                <th>Puesto</th>
                <th>Correo</th>
                <th>Pass Correo</th>
                <th>Ip PC</th>
                <th>Ip Tel</th>
                <th>Clave de Impresión</th>
                <th>Clave de Copiadora</th>
                <th>Clave de Telefonía</th>
                <th>Extensión</th>
                <th>Parrallels User</th>
                <th>Pass Parallels</th>
                <th>eSCRIT User</th>
                <th>eSCRIT Pass</th>
                <th>Zoom User</th>
                <th>Zoom Pass</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12522</td>
                <td>José Luis Castañon Alvarado</td>
                <td>Tecnologías de la Información</td>
                <td>Auxiliar en Soporte Tecnico</td>
                <td>luis.castanon@teleton.org.mx</td>
                <td>Chp10031</td>
                <td class="warning">172.18.86.64</td>
                <td>172.18.91.64</td>
                <td>10031</td>
                <td>10031</td>
                <td>10031</td>
                <td>2403</td>
                <td>lcastanon</td>
                <td>lc4st4n0n</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>
</div>