<section id="hero">
    <!-- Navigation-start -->
    <header>
        <div class="container">
            <nav class="navigation">
                <a href="/" class="logo">XCRIT</a>
                <div class="mobile_menu_icon">
                    <div class="mobile_menu_toggle"></div>
                </div>
                <ul class="nav_menu">
                    <div class="nav_links">
                        <li class="nav_list">
                            <a href="/" class="nav_link">Home</a>
                        </li>
                        <li class="nav_list">
                            <a href="#" class="nav_link">Hola</a>
                        </li>
                        <li class="nav_list">
                            <a href="#" class="nav_link">XXXXXX</a>
                        </li>
                        <li class="nav_list">
                            <a href="#" class="nav_link">ZZZZZZZZ</a>
                        </li>
                        <li class="nav_list">
                            <a href="/about" class="nav_link">Contacto</a>
                        </li>
                        <li class="nav_list">
                            <a href="/usuarios" class="nav_link">Pruebas</a>
                        </li>
                    </div>
                    <div class="cta_links">
                        <li class="nav_list">
                            <a href="/login" class="nav_link">Iniciar Sesión</a>
                        </li>
                        <li class="nav_list">
                            <a href="/registro" class="nav_link active">Registrarse</a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
</section>